In [5]:
import boto3
import pandas

In [6]:
# Creating the low level functional client
client = boto3.client(
    's3',
    aws_access_key_id = 'AKIA322WEXOQEE5HYEJX',
    aws_secret_access_key = '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',
    region_name = 'us-east-2'
)
    
# Creating the high level object oriented interface
resource = boto3.resource(
    's3',
    aws_access_key_id = 'AKIA322WEXOQEE5HYEJX',
    aws_secret_access_key = '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',
    region_name = 'us-east-2'
)

In [7]:
clientResponse = client.list_buckets()
    
# Print the bucket names one by one
print('Printing bucket names...')
for bucket in clientResponse['Buckets']:
    print(f'Bucket Name: {bucket["Name"]}')

Printing bucket names...
Bucket Name: elasticbeanstalk-us-east-2-813540096928
Bucket Name: emrsaroj
Bucket Name: moviedb2
Bucket Name: moviesdb
Bucket Name: moviessource
Bucket Name: ticket-service-ui-websitebucket-rxmnynipkgw1

In [20]:
# Create the S3 object
try:
    obj = client.get_object(Bucket='moviesdb',Key='movies/genres.csv')
except Exception as e:
    print(e)

# Read data from the S3 object
data = pandas.read_csv(obj['Body'])
    
# Print the data frame
print('Printing the data frame...')
pandas.DataFrame(data=data)

Printing the data frame...

    genre_id                             genre_name
0         16                              Animation
1         35                                 Comedy
2      10751                                 Family
3         12                              Adventure
4         14                                Fantasy
5      10749                                Romance
6         18                                  Drama
7         28                                 Action
8         80                                  Crime
9         53                               Thriller
10        27                                 Horror
11        36                                History
12       878                        Science Fiction
13      9648                                Mystery
14     10752                                    War
15     10769                                Foreign
16     10402                                  Music
17        99                            Documentary
18        37                                Western
19     10770                               TV Movie
20     11176                   Carousel Productions
21     11602              Vision View Entertainment
22     29812       Telescene Film Group Productions
23      2883                                Aniplex
24      7759                                GoHands
25      7760                              BROSTA TV
26      7761  Mardock Scramble Production Committee
27     33751                       Sentai Filmworks
28     17161                          Odyssey Media
29     18012                     Pulser Productions
30     18013                            Rogue State
31     23822                             The Cartel

In [40]:
r = client.select_object_content(
        ExpressionType='SQL',
        Bucket='moviesdb',Key='movies/genres.csv',
        Expression="select * from s3object s where s.genre_id like '%16%'",
        InputSerialization = {'CSV': {"FileHeaderInfo": "Use"}},
        OutputSerialization = {'CSV': {}},
)
for event in r['Payload']:
    if 'Records' in event:
        records = event['Records']['Payload'].decode('utf-8')
        print(records)

1